/*Last updated 3/3/25*/
/*=============================================================================
=========== Brand Level Styling for placement in document style tag ===========
===============================================================================*/
#hsForm_832dc9d7-8330-4374-a18d-b066d6057965_9333 .legal-consent-container, #hsForm_832dc9d7-8330-4374-a18d-b066d6057965_9333 .legal-consent-container .hs-richtext, #hsForm_832dc9d7-8330-4374-a18d-b066d6057965_9333 .legal-consent-container .hs-richtext p,
#hsForm_832dc9d7-8330-4374-a18d-b066d6057965_9333 .inputs-list>li.hs-form-checkbox label, #hsForm_832dc9d7-8330-4374-a18d-b066d6057965_9333 .inputs-list>li.hs-form-radio label{
  font-family: Fira Sans, sans-serif !important;
    font-size: 12px;
    line-height: 16px;
}

#hsForm_832dc9d7-8330-4374-a18d-b066d6057965_9333 .inputs-list label{
  font-weight:400;
}

#hsForm_832dc9d7-8330-4374-a18d-b066d6057965_9333 input[type=checkbox]{
  border: 1px solid #d3d3d3;
  margin:0 12px 3px 0;
}

/*BEGIN styles to overrule preexisting site styles*/

.hs-form-field input[type="text"], .hs-form-field input[type="email"], .hs-form-field input[type="password"], .hs-form-field input[type="url"]{
    width:100%;
    margin:0;
}

.error{
    background:none!important;
    margin:0 auto;}

/*END styles to overrule preexisting site styles*/

/*assign color to label links*/
body .hbspt-form label a {
    color: #F1A023!important;
}


/*assign brand level default link colors*/


body .hbspt-form a {
    color: #551A8B!important;
}

body .hbspt-form a {
    color: #551A8B!important;
}
body .hbspt-form a:hover {
    color: #551A8B!important;
}
/*control button styles for all submit buttons*/

input.hs-button[type="submit"] {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    line-height: 12px;
    position: relative;
    text-align: center;
    transition: all 0.15s linear;
    background-color: #0098DB;
    border-color: #0098DB;
    color: #fff;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    padding: 12px 24px;
}

input.hs-button[type="submit"]:hover:not(.inactive) {
    background: #0098DB;
    border-color: #0098DB;
    color: #ffffff;
    font-size: 14px;
    line-height: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input.hs-button[type="submit"]:hover:not(.inactive) {
    background: #0098DB;
    border-color: #0098DB;
}

.hs-button:hover,
.hs-button:focus {
  background-color: #0098DB;
  border-color: #0098DB;
}

.hs-button:active {
  background-color: #0098DB;
  border-color: #0098DB;
}


/*globally assign color to links*/

#sidebar a {
    color: #551A8B;
}	


#sidebar a:hover{
    color: #551A8B;
}

/*control padding below error messages below inputs*/
form ul.no-list.hs-error-msgs.inputs-list {
    padding: 0!important;
}

/*customize the form in the sidebar avoiding default wp theme styles on the sidebar*/

#sidebar input.text, #sidebar input.title, #sidebar input[type=text], select, #sidebar textarea, #sidebar[type=email] {
    padding: 10px 15px;
}
/*override divi styling for list padding*/
.entry-content ul.inputs-list {
    margin-bottom: 0;
    padding: 0 0 0 1em;
}
/*underline specific links*/
a[title="terms-of-use"], a[title="privacy-policy"] {
    text-decoration: underline;
}

/*force styles to override default sidebar styling*/
body #sidebar input.text, body #sidebar input.title, body #sidebar input[type=text], body #sidebar select, #sidebar input[type=email],
body input.text, body input.title, body input[type=text], body select, body input[type=email]{
    height:40px;
    padding:10px 15px;
}

/*enforce ul padding overriding styles from site*/
.et-l--body .input ul {
    padding: 0 0 0 1em;
}

/*reset form width override form specific styles*/
form fieldset .hs-input:not([type=checkbox]):not([type=radio]) {
    width: 100%!important;
}

form fieldset {
    max-width: 100%!important;
}
