/*Last Updated 11.20.25*/

/*=============================================================================
=========== Brand Level Styling for placement in document style tag ===========
===============================================================================*/
/*assign brand level default link colors*/

body .hbspt-form a {
    color: #4A89DC!important;
}

body .hbspt-form a {
    color: #4A89DC!important;
}
body .hbspt-form a:hover {
    color: #F4A300!important;
}
body .hbspt-form a:active {
    color: #4A89DC!important;
}

/*control button styles for all submit buttons*/

input.hs-button[type="submit"] {
    font-family: Verdura, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    line-height: 12px;
    position: relative;
    text-align: center;
    transition: all 0.15s linear;
    background-color: #4A89DC;
    border-color: #4A89DC;
    color: #fff;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    padding: 12px 24px;
}

input.hs-button[type="submit"]:hover:not(.inactive) {
    background: #4A89DC;
    border-color: #4A89DC;
    color: #ffffff;
    font-size: 14px;
    line-height: 12px;
    : "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input.hs-button[type="submit"]:hover:not(.inactive) {
    background: #4A89DC;
    border-color: #4A89DC;
}

.hs-button:hover,
.hs-button:focus {
  background-color: #F4A300;
  border-color: #F4A300;
}

.hs-button:active {
  background-color: #F4A300;
  border-color: #F4A300;
}


/*globally assign color to links*/

#sidebar a {
    color: #4A89DC;
}	
#sidebar a:active {
    color: #F4A300;
}	

#sidebar a:hover{
    color: #F4A300;
}

/*control padding below error messages below inputs*/
form ul.no-list.hs-error-msgs.inputs-list {
    padding: 0!important;
}

/*customize the form in the sidebar avoiding default wp theme styles on the sidebar*/

#sidebar input.text, #sidebar input.title, #sidebar input[type=text], select, #sidebar textarea, #sidebar[type=email] {
    padding: 10px 15px;
}
/*override divi styling for list padding*/
.entry-content ul.inputs-list {
    margin-bottom: 0;
    padding: 0 0 0 1em;
}
/*underline specific links*/
a[title="terms-of-use"], a[title="privacy-policy"] {
    text-decoration: underline;
}

/*force styles to override default sidebar styling*/
body #sidebar input.text, body #sidebar input.title, body #sidebar input[type=text], body #sidebar select, #sidebar input[type=email],
body input.text, body input.title, body input[type=text], body select, body input[type=email]{
    height:40px;
    padding:10px 15px;
}

/*enforce ul padding overriding styles from site*/
.et-l--body .input ul {
    padding: 0 0 0 1em;
}

/*reset form width override form specific styles*/
form fieldset .hs-input:not([type=checkbox]):not([type=radio]) {
    width: 100%!important;
}

form fieldset {
    max-width: 100%!important;
}
