/*Last Updated 12.08.25*/
/*=============================================================================
=========== Brand Level Styling for placement in document style tag ===========
===============================================================================*/
.hs-input[type="checkbox"], .hs-input[type="radio"]{
    border:1px solid #D8D8DA;
}

.hs_emx_cross_marketing_eligibility label {
    font-size: 14px;
    font-weight:300!important;
}

body .hs-form-checkbox span, body .hs-form-radio span{
    color: #FE4E6E!important;

}

/*assign brand level default link colors*/

body .hbspt-form a {
    color: #FE4E6E!important;
}

body .hbspt-form a {
    color: #FE4E6E!important;
}
body .hbspt-form a:hover {
    color: #FE4E6E!important;
}

/*control button styles for all submit buttons*/

input.hs-button[type="submit"] {
    font-family: "Montserrat", Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    line-height: 12px;
    position: relative;
    text-align: center;
    transition: all 0.15s linear;
    background-color: #FE4E6E;
    border-color: #FE4E6E;
    color: #fff;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    padding: 12px 24px;
}

input.hs-button[type="submit"]:hover:not(.inactive) {
    background: #FE4E6E;
    border-color: #FE4E6E;
    color: #ffffff;
    font-size: 14px;
    line-height: 12px;
    font-family: "Montserrat", Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input.hs-button[type="submit"]:hover:not(.inactive) {
    background: #FE4E6E;
    border-color: #FE4E6E;
}

.hs-button:hover,
.hs-button:focus {
  background-color: #FE4E6E;
  border-color: #FE4E6E;
}

.hs-button:active {
  background-color: #FE4E6E;
  border-color: #FE4E6E;
}


/*globally assign color to links*/

#sidebar a {
    color: #FE4E6E;
}	


#sidebar a:hover{
    color: #FE4E6E;
}

/*control padding below error messages below inputs*/
form ul.no-list.hs-error-msgs.inputs-list {
    padding: 0!important;
}

/*customize the form in the sidebar avoiding default wp theme styles on the sidebar*/

#sidebar input.text, #sidebar input.title, #sidebar input[type=text], select, #sidebar textarea, #sidebar[type=email] {
    padding: 10px 15px;
}
/*override divi styling for list padding*/
.entry-content ul.inputs-list {
    margin-bottom: 0;
    padding: 0 0 0 1em;
}
/*underline specific links*/
a[title="terms-of-use"], a[title="privacy-policy"] {
    text-decoration: underline;
}

/*enforce ul padding overriding styles from site*/

.et-l--body .input ul {

    padding: 0 0 0 1em;

}
/*reset form width override form specific styles*/
form fieldset .hs-input:not([type=checkbox]):not([type=radio]) {
    width: 100%!important;
}

form fieldset {
    max-width: 100%!important;
}
