 /*Last Updated 6/18/24*/
/*=============================================================================
=========== Brand Level Styling for placement in document style tag ===========
===============================================================================*/

  /*BEGIN override existing styles for rangefinder form */

  body .newsletter form input[type="text"], body .newsletter form input[type="password"] {

    width: 100%!important;

}




body .newsletter form input[type="text"], body .account-settings form input[type="password"] {

    font-weight: 400;

    background-color: #f5f8fa;

    padding-left: 15px;

    border: 1px solid #cbd6e2;

    margin-bottom: 0px;

    width: 100%;

    height: 40px;

    line-height: 22px;

}




body .newsletter select {

    border: 1px solid #cbd6e2;

    background: #f5f8fa;

    width: 100%;

    padding-left: 15px;

    font-size: 16px;

    color: #33475b;

    height: 40px;

    -webkit-appearance: auto;

    -moz-appearance: auto;

    appearance: auto;

    margin-bottom: 8px;




}






body .newsletter form input[type="submit"] {

    padding: 12px 24px;

    background: #00A1B1;

    border: 1px solid #00A1B1;

    cursor: pointer;

    color: #fff;

    text-transform: none;

    font-weight: 700;

    font-size: 14px;

    margin-bottom: 0px;

    margin-left:0!important;

}




body .newsletter form label {

    display: inline-block;

    color: #33475b;

    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    font-weight: 500;

    line-height: 20px;

    margin-right: 0px;

}




/*END override existing styles for rangefinder form*/


/*assign color to label links*/
body .hbspt-form label a {
    color: #551A8B!important;
}


/*assign brand level default link colors*/


body .hbspt-form a {
    color: #551A8B!important;
}

body .hbspt-form a {
    color: #551A8B!important;
}
body .hbspt-form a:hover {
    color: #551A8B!important;
}
/*control button styles for all submit buttons*/

input.hs-button[type="submit"] {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    line-height: 12px;
    position: relative;
    text-align: center;
    transition: all 0.15s linear;
    background-color: #00A1B1;
    border-color: #00A1B1;
    color: #fff;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    padding: 12px 24px;
}

input.hs-button[type="submit"]:hover:not(.inactive) {
    background: #00A1B1;
    border-color: #00A1B1;
    color: #ffffff;
    font-size: 14px;
    line-height: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input.hs-button[type="submit"]:hover:not(.inactive) {
    background: #00A1B1;
    border-color: #00A1B1;
}

.hs-button:hover,
.hs-button:focus {
  background-color: #00A1B1;
  border-color: #00A1B1;
}

.hs-button:active {
  background-color: #00A1B1;
  border-color: #00A1B1;
}




/*control padding below error messages below inputs*/
form ul.no-list.hs-error-msgs.inputs-list {
    padding: 0!important;
}

/*customize the form in the sidebar avoiding default wp theme styles on the sidebar*/

#sidebar input.text, #sidebar input.title, #sidebar input[type=text], select, #sidebar textarea, #sidebar[type=email] {
    padding: 10px 15px;
}
/*override divi styling for list padding*/
.entry-content ul.inputs-list {
    margin-bottom: 0;
    padding: 0 0 0 1em;
}
/*underline specific links*/
a[title="terms-of-use"], a[title="privacy-policy"] {
    text-decoration: underline;
}

/*force styles to override default sidebar styling*/
body #sidebar input.text, body #sidebar input.title, body #sidebar input[type=text], body #sidebar select, #sidebar input[type=email],
body input.text, body input.title, body input[type=text], body select, body input[type=email]{
    height:40px;
    padding:10px 15px;
}

/*enforce ul padding overriding styles from site*/
.et-l--body .input ul {
    padding: 0 0 0 1em;
}

/*reset form width override form specific styles*/
form fieldset .hs-input:not([type=checkbox]):not([type=radio]) {
    width: 100%!important;
}

form fieldset {
    max-width: 100%!important;
}
